<% include partials/header %>
    <script src=js/admin.js></script>
    <div class="container" id="mainContainer">
      <div class="has-error" id="error-container">

      </div>
        <div class="form-horizontal" id="frmUsuario">
            <div class="form-group">
                <label>Usuario</label>
                <input type="text" name="username" id="username" value="" placeholder="nombre de usuario" class="form-control">

            </div>
            <div class="form-group">
                <label>Nombre a mostrar</label>
                <input type="text" name="name" id="name" value="" placeholder="nombre a mostrar" class="form-control">

            </div>
            <div class="form-group">
                <label>Contraseña</label>
                <input type="password" name="password" id="password" value="" placeholder="Ingresa tu contraseña" class="form-control">

            </div>
            <div class="form-group">
                <button type="button" name="btnLogin" class="btn btn-primary" onclick="login()">Ingresa</button>
            </div>

        </div>

        <div id="message-zone">
            <div class="col-sm-4" style="height:100%">
                <div class="list-group" id="user-list">

                </div>
            </div>
            <div class="col-sm-8" style="height:100%">
              <div class="panel panel-default" id="message-panel">

                  <div class="panel-heading" id="message-container-header">

                  </div>
                  <div class="panel-body" id="message-container">

                  </div>
              </div>
              <div class="row" id="frmMensaje">

                      <div class="col-sm-12">
                        <div class="input-group">
                          <input type="text" name="txtMensaje" id="txtMensaje" value="" placeholder="ingresa tu mensaje" class="form-control" onkeyup="messageBtnKeyUp(event)">

                          <span class="input-group-btn">
                              <button type="button" name="btnMensaje" class="btn btn-success" onclick="sendMessage()">Enviar</button>
                          </span>

                        </div>
                      </div>
              </div>

            </div>

        </div>

    </div>
    <% include partials/footer %>
