<% include partials/header %>

    <script src="js/client.js"></script>
    <div class="container" id="mainContainer">
        <div class="has-error" id="error-container">

        </div>
        <div class="form-horizontal" id="frmUsuario">
            

            <div class="input-group">
                <input type="text" name="nombre" id="nombre" value="" placeholder="Bienvenido, dinos tu nombre" class="form-control" onkeyup="nombreKeyUp(event)">

                <span class="input-group-btn">
                    <button type="button" name="btnNombre" class="btn btn-primary" onclick="setUsername()">Chatea con nosotros!</button>
                </span>

              </div>



        </div>
        <div id="message-zone">
          <div class="panel panel-default" id="message-panel">
              <div class="panel-heading">
                  Mensajes
              </div>
              <div class="panel-body" id="message-container">

              </div>
          </div>
          <div class="row" id="frmMensaje">

                  <div class="col-sm-12">
                    <div class="input-group">
                      <input type="text" name="txtMensaje" id="txtMensaje" value="" placeholder="ingresa tu mensaje" class="form-control" onkeyup="messageBtnKeyUp(event)">

                      <span class="input-group-btn">
                          <button type="button" name="btnMensaje" class="btn btn-success" onclick="sendMessage()">Enviar</button>
                      </span>

                    </div>
                  </div>
          </div>
        </span>

    </div>
    <% include partials/footer %>
